h1 {
    text-align: center; 
    background-color: rgb(46, 89, 132)
    
}

h2 {
    text-align: left; 
    background-color: rgb(255, 255, 255)
}
img {
    width: 300px; 
}

div {
    text-align: center; 
    line-height: 1.5; 
    background-color: rebeccapurple; 
}

div p {
    font-family: Courier New; 
    font-size: 65px; 
   text-decoration: overline underline;
}

p{
    color: rgb(240, 88, 61); 
    background-color: teal; 
    /* this is how you comment */ 
}